
h1 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: underline overline;
}
h2,h3,h4,h5{
	font-family: 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 1em;
    text-align: center;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 1em;
    text-align: center;
	background: #c5ee66;
	/* background: #cdeb8e; */
	box-shadow: 0px 0px 5px 0px #888;
	margin-left: 15%;
	margin-right: 15%;
}
pre{
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 13px;
	text-align: left;
	margin-left: 25%;
	margin-right: 25%;
}
p{
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 15px ;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
}
a:hover {
	font-weight: bold;
}
img {
	border: 1em solid black;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto
}
.poem{
	font-family: 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 1em;
    text-align: center;
}